*{
    padding: 0;
    margin: 0;
}
#header{
    background-image: url('./bg.jpg');
    background-size: cover;
    box-sizing: border-box;
    height: 80vh;
}
.navbar-nav li a{
    float: right;
    color: #fff!important;
}